@model CoffeeQueueApp.Models.CoffeeOrder

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CoffeeOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Drink" class="control-label"></label>
                <input asp-for="Drink" class="form-control" />
                <span asp-validation-for="Drink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Milk" class="control-label"></label>
                <input asp-for="Milk" class="form-control" />
                <span asp-validation-for="Milk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sugar" class="control-label"></label>
                <input asp-for="Sugar" class="form-control" />
                <span asp-validation-for="Sugar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaristaId" class="control-label"></label>
                <select asp-for="BaristaId" class="form-control" asp-items="ViewBag.BaristaId"></select>
                <span asp-validation-for="BaristaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
